#box {
    color: white;   /* <-- Blue background par visible */
    
    display: flex;
    justify-content: center;
    align-items: center;      
    
    border: 2px solid black;
    padding: 40px;
    font-size: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blue;
}


#card {
    margin: 20px;
   
    font-size: 20px;
    background-color: lightgray;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
}
#btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
}
