 /* #img2 {
    width: 300px;
    
    margin: 10px;
}
    #img1 {
        width: 300px;
        
        margin: 10px;
    } */
    /* #btn {
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        margin: 10px;
        color: black;
        background-color: lightblue;
        
    } */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 400px;
    }
    @keyframes floatUp {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%) translateY(0);
        }
        100% {
            opacity: 1;
            transform: translate(-50%, -50%) translateY(-100px);
        }
    }
    #heartImg {
        width: 100px;
        cursor: pointer;
        position: relative;
    }